<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userAnswer">
      <h2 data-cy="userAnswerDetailsHeading"><span mmseTranslate="mmseApp.userAnswer.detail.title">User Answer</span></h2>

      <hr />

      <mmse-alert-error></mmse-alert-error>

      <mmse-alert></mmse-alert>

      <dl class="row-md jh-entity-details">
        <dt><span mmseTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userAnswer.id }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.userAnswer.answerText">Answer Text</span></dt>
        <dd>
          <span>{{ userAnswer.answerText }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.userAnswer.createdAt">Created At</span></dt>
        <dd>
          <span>{{ userAnswer.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.userAnswer.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ userAnswer.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.userAnswer.questionId">Question Id</span></dt>
        <dd>
          <span mmseTranslate="{{ 'mmseApp.QuestionId.' + userAnswer.questionId }}">{{ userAnswer.questionId }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.userAnswer.testEntity">Test Entity</span></dt>
        <dd>
          <div *ngIf="userAnswer.testEntity">
            <a [routerLink]="['/test-entity', userAnswer.testEntity.id, 'view']">{{ userAnswer.testEntity.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mmseTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-answer', userAnswer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span mmseTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
