<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="mmse-user-answer-heading" data-cy="UserAnswerCreateUpdateHeading" mmseTranslate="mmseApp.userAnswer.home.createOrEditLabel">
        Create or edit a User Answer
      </h2>

      <div>
        <mmse-alert-error></mmse-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" mmseTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" mmseTranslate="mmseApp.userAnswer.answerText" for="field_answerText">Answer Text</label>
          <input
            type="text"
            class="form-control"
            name="answerText"
            id="field_answerText"
            data-cy="answerText"
            formControlName="answerText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" mmseTranslate="mmseApp.userAnswer.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              mmseTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
              mmseTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" mmseTranslate="mmseApp.userAnswer.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" mmseTranslate="mmseApp.userAnswer.questionId" for="field_questionId">Question Id</label>
          <select class="form-control" name="questionId" formControlName="questionId" id="field_questionId" data-cy="questionId">
            <option [ngValue]="null">{{ 'mmseApp.QuestionId.null' | translate }}</option>
            <option *ngFor="let questionId of questionIdValues" [value]="questionId">
              {{ 'mmseApp.QuestionId.' + questionId | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('questionId')!.invalid && (editForm.get('questionId')!.dirty || editForm.get('questionId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('questionId')?.errors?.required"
              mmseTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" mmseTranslate="mmseApp.userAnswer.testEntity" for="field_testEntity">Test Entity</label>
          <select
            class="form-control"
            id="field_testEntity"
            data-cy="testEntity"
            name="testEntity"
            formControlName="testEntity"
            [compareWith]="compareTestEntity"
          >
            <option *ngIf="!editForm.get('testEntity')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="testEntityOption" *ngFor="let testEntityOption of testEntitiesSharedCollection">
              {{ testEntityOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['testEntity'])!.invalid && (editForm.get(['testEntity'])!.dirty || editForm.get(['testEntity'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['testEntity'])?.errors?.required"
            mmseTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span mmseTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span mmseTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
