<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="testEntity">
      <h2 data-cy="testEntityDetailsHeading"><span mmseTranslate="mmseApp.testEntity.detail.title">Test Entity</span></h2>

      <hr />

      <mmse-alert-error></mmse-alert-error>

      <mmse-alert></mmse-alert>

      <dl class="row-md jh-entity-details">
        <dt><span mmseTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ testEntity.id }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.testEntity.createdAt">Created At</span></dt>
        <dd>
          <span>{{ testEntity.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.testEntity.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ testEntity.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.testEntity.score">Score</span></dt>
        <dd>
          <span>{{ testEntity.score }}</span>
        </dd>
        <dt><span mmseTranslate="mmseApp.testEntity.user">User</span></dt>
        <dd>
          <span>{{ testEntity.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mmseTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/test-entity', testEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span mmseTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
