<div>
  <h2 id="page-heading" data-cy="TestEntityHeading">
    <span mmseTranslate="mmseApp.testEntity.home.title">Test Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span mmseTranslate="mmseApp.testEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-test-entity"
        [routerLink]="['/test-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span mmseTranslate="mmseApp.testEntity.home.createLabel"> Create a new Test Entity </span>
      </button>
    </div>
  </h2>

  <mmse-alert-error></mmse-alert-error>

  <mmse-alert></mmse-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="testEntities?.length === 0">
    <span mmseTranslate="mmseApp.testEntity.home.notFound">No Test Entities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="testEntities && testEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr mmseSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" mmseSortBy="id">
            <div class="d-flex">
              <span mmseTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mmseSortBy="createdAt">
            <div class="d-flex">
              <span mmseTranslate="mmseApp.testEntity.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mmseSortBy="updatedAt">
            <div class="d-flex">
              <span mmseTranslate="mmseApp.testEntity.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mmseSortBy="score">
            <div class="d-flex">
              <span mmseTranslate="mmseApp.testEntity.score">Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" mmseSortBy="user.login">
            <div class="d-flex">
              <span mmseTranslate="mmseApp.testEntity.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let testEntity of testEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/test-entity', testEntity.id, 'view']">{{ testEntity.id }}</a>
          </td>
          <td>{{ testEntity.createdAt | formatMediumDatetime }}</td>
          <td>{{ testEntity.updatedAt | formatMediumDatetime }}</td>
          <td>{{ testEntity.score }}</td>
          <td>
            {{ testEntity.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/test-entity', testEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" mmseTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/test-entity', testEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" mmseTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(testEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" mmseTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
