<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span mmseTranslate="userManagement.detail.title">User</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span mmseTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success" mmseTranslate="userManagement.activated">Activated</span>
          <span *ngIf="!user.activated" class="badge bg-danger" mmseTranslate="userManagement.deactivated">Deactivated</span>
        </dd>

        <dt><span mmseTranslate="userManagement.firstName">First name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span mmseTranslate="userManagement.lastName">Last name</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span mmseTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span mmseTranslate="userManagement.langKey">Language</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span mmseTranslate="userManagement.createdBy">Created by</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span mmseTranslate="userManagement.createdDate">Created date</span></dt>
        <dd>{{ user.createdDate | date : 'dd/MM/yy HH:mm' }}</dd>

        <dt><span mmseTranslate="userManagement.lastModifiedBy">Modified by</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span mmseTranslate="userManagement.lastModifiedDate">Modified date</span></dt>
        <dd>{{ user.lastModifiedDate | date : 'dd/MM/yy HH:mm' }}</dd>

        <dt><span mmseTranslate="userManagement.profiles">Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span mmseTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
